@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#loginButton {
    -fx-background-color: linear-gradient(to right, rgba(7,190,255,1) 0%, rgba(45,117,255,1) 100%);
    -fx-margin: 10px;
    -fx-padding: 15px 45px;
    -fx-text-align: center;
    -fx-text-transform: uppercase;
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-color: white;
    /*-fx-effect: dropshadow(gaussian, #eee, 20, 0.0, 0, 0);*/
    /*-fx-drop-shadow: 0 0 20px #eee;*/
    -fx-border-radius: 10px;
    -fx-display: block;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 0,0,0,0,0;
}

#loginButton:hover {
    -fx-background-insets: 0,0,0,0,0;
    -fx-background-position: right center; /*change the direction of the change here*/
    -fx-color: #fff;
    -fx-text-decoration: none;
}
#mainWindow{
    -fx-background-color: linear-gradient(to top, #191A1E 0%, #212328 100%);
}
.label{
    -fx-text-fill: #1B99FF;
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto', sans-serif;
}
#littleText,.hyperlink{
    -fx-text-fill: #bebebe;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-text-decoration: none;
}
.text-field{
    -fx-background-color: #32353C;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
}



