@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
#mainWindow{
    -fx-background-color: linear-gradient(to top, #191A1E 0%, #212328 100%);
}
#mainText{
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 30px;
}
.label{
    -fx-text-fill: #1B99FF;
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 13;
}
.check-box {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-family: 'Roboto', sans-serif;
}
#signupButton{
-fx-background-color: linear-gradient(to right, rgba(7,190,255,1) 0%, rgba(45,117,255,1) 100%);
    -fx-margin: 10px;
    -fx-padding: 15px 45px;
    -fx-text-align: center;
    -fx-text-transform: uppercase;
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-color: white;
    -fx-border-radius: 10px;
    -fx-display: block;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-insets: 0,0,0,0,0;
}
.text-field{
    -fx-background-color: #32353C;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
}